

* {
    font-family: Gilroy;
}

.container {
    max-width: 1318px;
    margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/catalog';
@import 'blocks/button';
@import 'blocks/catalog_corm';
@import 'blocks/catalog_bird';
@import 'blocks/catalog_zerna';
@import 'blocks/catalog_feeders';
@import 'blocks/blago';
@import 'blocks/footer';
@import 'blocks/arrow';
@import 'blocks/modal';
@import 'blocks/media';